* {margin:0; padding:0; font-size: larger; border:none; outline: none; font-weight: bolder; box-sizing: border-box}

body {
    background-color: #ffffff;
    overflow: hidden
}
a {text-decoration: none;}
ul {list-style: none;}


.button {
    width: 135px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: black;
    background: white;
}

.menu-border {
    width: 750px;
    height: 750px;
    border: 30px;
    border-radius: 8px;
    color: black;

}
.img-container{
    position : relative;
    top : -8px;
    left : -8px;
}
canvas.tela{
    border-style:outset;
    border-width:8px;
    border-color:green;
    position:absolute;
    top:15%;
    left:16%;
}
.text{
    position : absolute;
    top : 0;
    width : 100%;
    text-align : center;
}
.text-gradient{
    text-transform: uppercase;
    background: linear-gradient(to right, white,LightGray,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div:empty {
    content: '.';
    display: block;
}

.sidebar {
    text-transform: uppercase;
    font-size: 80%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: honeydew;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.player{
    height: 100%;
    width: 50%;
    text-align: center;
    float: left;
}

.score{
    height: 100%;
    width: 50%;
    text-align: center;
    color: red;
    float: right;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .close {
    background-color: Transparent;
    border: none;
    outline:none;
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}


.Progress_Status {
    width: 50%;
    background-color: #ddd;
}

.myprogressBar {
    width: 1%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
